.screen {
    margin-top: 50px;
}

body {
    background-image: url(image/wallpaper.jpg);
    color: black;
}

#datetime{
    float: right;
    margin-top: -40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode' ;
    font-size: large;
    padding: 5px;
    margin-right: 25px;
    font-weight: bold;
}

.project_name,.project_gif,.figure{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    border-radius: 20px;
    padding: 10px;
    border-style: 2px black solid;
    box-shadow: 3px 3px black;
    margin: 10px;
}

.project_name,.figure {
    background-color:grey;
    text-align: justify;
    font-size: 30px;
    font-weight:bolder;
    width: auto;
    color:cornsilk;
    text-shadow: 1px 1px black;
}

.tab{
    position: relative;
    padding-left:10% ;
    font-style: italic;
    font-size: 25px;
    color:gold;
}

.project_gif{
    background-color:white;
    width: auto;
    height: 500px;
    display: block;
}

.figure{
    background-color: grey;
    display: block;
    height: 50px;
    margin-top: 30px;
    text-align: center;
    width: auto;
    padding: 3px;
    font-style: italic;
}
.container{
    display: flex;

}
.subcontainer{
    display: block;
    width: auto;
    justify-items: center;
}

.linksoption{
    display: flex;
    margin-top: 30px;
}

.golink,.enterbox input{
    padding: 10px;
    border-width: 2px;
    font-size: large;
    cursor: pointer;
    border-radius: 20px;
    width: 40%;
    color: azure;
    background-color:dodgerblue;
    font-weight: bold;
    margin: auto;
}
.golink:hover{
    color: black;
    box-shadow: 2px 2px black;
    background-color: limegreen;
}

.enterbox {
    display: none;
}

.enterbox input{
    width: 280px;
    text-align: center;
    display: block;
    background-color: azure;
    color: black;
}

.enterbox  input[type=submit]{
    width: 150px;
    background-color: limegreen;
    color: black;
}

.enterbox input[type=submit]:hover{
    box-shadow: 2px 2px black;
    background-color: orangered;
}

.about{
    margin-top: 30px;
    background-color:dodgerblue;
    padding: 5px;
    text-align: center;
}